* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "montserrat", sans-serif;
  background-color: rgb(189, 184, 184);
}

.app-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(120, 200, 253, 0.3),
    rgba(0, 60, 100, 0.61),
    rgba(24, 68, 201, 0.767),
    rgba(44, 48, 252, 0.9)
  );
}
.mid {
  text-align: center;
  padding: 20px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.click,
.klick {
  width: 100%;
  max-width: 300px;
  text-align: center;
  padding: 10px;
  align-self: center;
  border-radius: 10px;
  margin: 5px auto;
  font-size: 1.1em;
}
.search input {
  width: 100%;
  max-width: 560px;
  padding: 20px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  border-bottom: 5px solid #df8e00;
  color: #313131;
  font-size: 1.5em;
  transition: 0.2s ease-out;
}

.search input:focus {
  background-color: rgba(255, 255, 255, 0.8);
}

main {
  flex: 1 1 100%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.location .city {
  color: rgb(255, 255, 255);
  font-size: 2.2em;
  margin-bottom: 15px;
}

.location .date {
  color: whitesmoke;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.current .temp {
  color: skyblue;
  font-size: 7em;
  text-shadow: 4px 10px rgba(0, 0, 0, 0.7);
  margin: 10px 0px;
}

.current .temp span {
  font-weight: 500;
}

.current .weather,
.current .description {
  color: #fff;
  font-size: 4em;
  padding: 10px;
  text-shadow: 0px 4px rgba(0, 0, 0, 0.3);
}
.current .hi-low {
  color: #fff;
  font-size: 3em;
  padding: 10px;
  text-shadow: 0px 4px rgba(0, 0, 0, 0.3);
}

.current .windSpeed,
.current .windGust,
.current .press,
.current .feels {
  color: #fff;
  font-size: 2em;
  text-shadow: 0px 2px rgba(0, 0, 0, 0.3);
  padding: 5px;
}
.current .weather {
  font-style: italic;
}

.image {
  margin: 10px;
  width: 100px;
  height: 100px;
  background-color: lightblue;
  text-align: center;
  border-radius: 20px;
}

.fun {
  margin: 3% Auto;
}

.space {
  height: 200px;
}
